.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

ul {
  list-style: none;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #444;
}

.isActive {
  background-color: #444;
}

li {
  display: flex;
}

.target {
  background-color: rgb(212, 59, 59);
}
